/*COLORS*/

$color-base: #E9C891;
$color-neutral-light: #fafafa;
$color-neutral-dark: #1c1c1c;

$color-piece-light: #F1DAAE;
$color-piece-dark: #874B33;

$color-transparency: rgba(83, 32, 12, .16);

/*FONTS*/
$font-family-main: 'Raleway', sans-serif;
$font-family-secondary: 'Playfair Display', serif;